<section class="container wrapper">
<h1>About Azy</h1>
<p>Azyとは</p>
<section class="row justify-content-center">
  <div class="col-md-4">
    <%= image_tag('azy.png') %>
  </div>
  <div class="col-md-5">
    <p>プログラミングが楽しすぎて、四六時中プログラミングしたいので転職活動中。</p>
    <p>現職はプラントエンジニアリング会社で品質管理を経て、設計業務をしている。</p>
    <p>毎日仕事しながら、いやプログラミングしたいんだー！！と心の中で叫び、たまにVBAを勝手にいじり倒す。</p>
    <p>会社の非効率を無くして、残業のない社会を作りたい。</p>
    <p>連絡はTwitterにお願いします。</p>
    <a href="https://twitter.com/eastazy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @eastazy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/intent/tweet?screen_name=eastazy&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @eastazy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col-md-3 timeline">
    <a class="twitter-timeline" href="https://twitter.com/EastAzy?ref_src=twsrc%5Etfw">Tweets by EastAzy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</section>
</section>
