<section class="container wrapper">
  <h1>WEBページ/システム 制作に関して</h1>
    <%= image_tag('WebPagelogo.png') %>
    <p>Azyはクリエイティブ集団 "Capital Castle"のメンバーとして、</p>
    <p>お客様の要望に沿ったWebサービスを展開しています。</p>
    <p>お問い合わせは<a href = "https://captcs.net/cpt/" target="_blank" class="btn">こちら</a>までお願いします。</p>
</section>
