<section class='container blogcover'>
<% if @tags %>
  <%= link_to("ALL", blogs_path, class: "tag #{'addtag' if @tag == 'ALL'}") %>
  <% @tags.each do |tag| %>
    <% addtag = 'addtag' if tag == @tag %>
    <%= link_to(tag, "/blogs/tag/#{tag}", class: "tag #{addtag}") %>
  <% end %>
<% end %>
<div class='row justify-content-center'>
  <%= render @blogs %>
</div>
</section>

<%= link_to('NEW', new_blog_path, class: 'btn') if user_signed_in? %>
