files:
  # Runs before `./10_bundle_install.sh`:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_gem_install_bundler.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash

      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      # Source the application's ruby, i.e. 2.6. Otherwise it will be 2.3, which will give this error: `bundler requires Ruby version >= 2.3.0`
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR
      echo "Installing compatible bundler"
      gem install bundler -v 2.0.1

option_settings:
  aws:elasticbeanstalk:application:environment:
    DEVISE_SECRET_KEY: f2044224542c03b25a2f5959fcc0ff4b33e8e3e24ff9c32ecdae0cb9ada6e7055595ee40640c4db4c1b596706af3c3ac9b52c900373227561a522282e3027d62
    secret_key_base: 0c335093a0940196dd3b46b31bd2d5c3ea0a6729be9d18e924ef45359b9e31b936818317f3d1dcff65900e2614429ffa9545f14ebd4e2356b18ca5ad758a221a
